<%- include("partials/header") %>
<div class="text-center center-div mt-5">
    <div class="container w-25 border py-5">
      <div class="title pb-5">
        <h2 class="font-weight-bpld">WELCOME</h2>
      </div>
        <button class="btn btn-success"><a href="/user" style="text-decoration: none; color: white;">USER</a></button>
        <button class="btn btn-success"><a href="/admin" style="text-decoration: none; color: white;">ADMIN</a></button>
    </div>
  </div>

<%- include("partials/footer") %>