<%- include("partials/header") %>
<div class="text-center center-div mt-5" id="login" >
  <h3 style="color: black;">welcome to dashboard</h3>
  <h5 style="color: black;">user@gmail.com</h5>
  <a href="/user/logout" style="color: black;">Logout</a>
</div>
<%- include("partials/footer") %>